body {
    font-family: calibri;
    text-align: center;
    margin: 0;
    background-image: url(Img/textura-branca.jpg);
}

.table {
    border: 2px double rgb(255,250,250);
    background-image: url(Img/textura-cinza.jpg);
    background-size: 3.5px;
    width: 85%;
    min-height: 100%;
    padding: 20px;
    top: 80px;
    border-top: 2.5px dotted rgb(255, 250, 250);
    border-right: 2.5px dotted rgb(255, 250, 250);
    box-sizing: border-box;
    z-index: 1;
    font-family: calibri;
    text-align: center;
    font-size: 16pt;
    color: rgb(255, 250, 250);
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36pt;
    color:rgb(105,105,105);
    font-weight: bold;
    margin-right: 30px;
}

th {
    border: 2px double rgb(255, 250, 250);
    color: white;
}

.table th:hover {
    background-color: rgb(105, 105, 105);
    opacity: 0.75;
    color: rgb(255, 250, 250);
}

td {
    border: 2px double rgb(255, 250, 250);
}

.source {
    color: yellow;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    font-size: 14pt;
}

.direita{
    font-family: calibri;
    display: table-row;
    color: rgb(105,105,105);
    font-weight: bold;
    padding: 10px;
    align-content: flex-start;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.container{
    display: flex;
    justify-content: space-between
}