body {
    font-family: Tahoma;
    text-align: center;
}

main {
    background-color: maroon;
    width: 70%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

aside {
    background-image: url(Capas/vinho.jpg);
    background-size: 250%;
    width: 30%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

table {
    border: 3px;
    border-style: dashed;
    border-color: indianred;
}

h3 {
    color: maroon;
    background-image: url(Capas/branco.jpg);
}

#title_branco {
    color: black;
    background-image: url(Capas/branco.jpg);
    opacity: 50%;
    z-index: -1;
}

table {
    margin: auto;
}


h1 {
    color: whitesmoke;
    font-size: 45px;
    font-style: italic;
    border: 2px dotted MistyRose;
}

ul {
    color: LightGray;
    font-size: 10pt;
    font-weight: bold;
    line-height: 35px;
    text-align: left;
}

esquerda {
    color: maroon;
    background-image: url(Capas/branco.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    width: 30%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}


span {
    text-decoration: underline;
    color: gold;
}

li {
    list-style-type: none;
    position: relative;
    padding-left: 20px;
}

li::before {
    background: url('Capas/check.png') no-repeat left center;
    position: relative;
    ;
    left: 0;
    width: 16px;
    height: 16px;
    max-width: 100%;
}

h1:hover,
.texto:hover {
    background-color: Crimson;
    color: LightPink;
    border: 1px solid LightPink;
}

h3:hover {
    color: IndianRed;
}

img:hover {
    transform: rotate(-5deg);
    border: 5px double Gold;
}